@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #121212;
  --secondary-color: #fff;
  --accent-color: #00c853d0;
  --hover-color: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}
.title img {
  height: 100px;
}
.container {
  background-color: var(--primary-color);
  width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
  margin: .5rem 0;
}
p {
  font-size: 1.2rem;
}
.div {
  border: var(--secondary-color) 1px solid;

  background-color:var(--accent-color);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
#div-02 a {
  padding: 1rem 0;
  text-decoration: none;
  color: var(--secondary-color);
}
#div-02 a:hover {
  color: var(--hover-color);
}
#div-02 li {
  margin: .5rem 0;
}
#div-02 ul {
  list-style: inside;
  font-size: 1.2rem;
}
#div-03 {
  background-color:var(--accent-color);
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}
#div-03 p {
  margin: .5rem 0;
}
#div-03 button {
  background-color: var(--secondary-color);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
#div-03 button a {
  text-decoration: none;
  color: var(--primary-color);
}
#div-03 button:hover {
  background-color: var(--hover-color);
  color: var(--primary-color);
}
footer {
  padding: 1rem 0;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
  margin: .5rem 0;
}
footer img {
  display: none;
  height: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .title img {
    display: none;
  }
  footer img {
    display: block;
  }
}